{% set activo = 'nada' %}
{% extends "@Documentacion/layout.html.twig" %}
{% block title 'Login' %}
    {% block metadesc %}Login{% endblock %}
    {% block pageid 'pagina' %}
        {% block body %}
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class='row'>
                <div class='col-lg-6'>

                    <form action="{{ path('login') }}" method="post">
                        <div class='control-group form-group'>
                            <label for="username">Email:</label>
                            <div class='controls'>
                                <input type="email" id="username" name="_username" value="{{ last_username }}"/>
                            </div>
                        </div>
                        <div class='control-group form-group'>
                            <label for="password">Password:</label>
                            <div class='controls'>
                                <input type="password" id="password" name="_password"/>
                            </div>
                        </div>
                        {#
                            If you want to control the URL the user
                            is redirected to on success (more details below)
                            <input type="hidden" name="_target_path" value="/account"/>
                        #}

                        <button class="btn btn-primary" type="submit">login</button>
                    </form>
                </div>
            </div>
        {% endblock %}
