{% set activo = 'index' %}
{% extends "@Documentacion/layout.html.twig" %}
    {% block pageid 'index' %}
        {% block body %}

<div class="alert alert-warning" role="alert">
            {% for mensaje in app.session.flashbag.get('warn') %}
                <p class="warn"><b>{{ mensaje }}</b></p>
            {% endfor %}
</div>

<p align='justify'>Este servicio permite a las personas acceder a Resoluciones/Notificaciones en formato digital.
</p>
<p align='justify'>Cualquier consulta o problema comunicarse al Tel&eacute;fono <b>0342 - 46049928 Interno 37662</b>.
</p>
<div class="alert alert-success" role="alert">
  <p align='justify'><b>Importante: </b>Una vez recibido el email para comunicar la disponibilidad de la documentaci&oacute;n, deber&aacute; generar una clave de acceso haciendo click
    en el siguiente boton: &nbsp;&nbsp;<a href="{{ path('generar_password') }}" class="btn btn-primary">Generar clave</a>
  </p></div>

<p align='justify'>Destinatario/s:</p>
  <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Todas las personas que tengan Expediente en la Caja de Jubilaciones.</p>
<br>
{% endblock %}
